#gatito {
  position: absolute;
  top: 100px;
  left: 100px;
  background: url("img/abajo1.png") no-repeat;
  width: 60px;
  height: 50px;
  background-size: contain;
  outline: 1px solid red;
}


#background {

    width: 400px;
    height: 400px;
    background-color: red;
}